#content-wrapper {
    top: 100px;
    padding-left: 80px;
    padding-top: 80px;
}

.profile {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #267491;
}

.prf_head {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #253646;
    padding: 0px 10px;
}

.prf_txt {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.06px;
    color: #212529;
    padding: 0px 15px;
    height: 20px;
}

btn_updte {
    background: #253646;
    border: 1px solid #E8ECEF;
    border-radius: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
}

.btn_updphoto {
    background: #253646;
    border: 1px solid #E8ECEF;
    border-radius: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
}

.btn_prf {
    background: #253646;
    border: 1px solid #E8ECEF;
    border-radius: 10px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-top: 10px;
}

.btn_updte:hover, .btn_updte:active {
    color: #fff;
}

.txtct {
    text-align: center;
}

.photo_img {
    border: 1px solid #253646;
    width: 150px;
    height: 130px;
    margin: auto;
}

.myprf {
    width: 130px;
    height: 130px;
    padding: 6px 10px 10px 10px;
}

.pht_file {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.06px;
    color: #212529;
}

@media screen and (max-width: 768px) {
    .txtct {
        text-align: left;
    }

    .photo_img {
        margin: 0;
        text-align: center;
    }

    .pht_file {
        text-align: left;
    }

    .btn_prf {
        margin-top: 20px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 414px) {
    #content-wrapper {
        padding-left: 0px;
    }
}