<app-common></app-common>
<section id="content-wrapper">
    <div class="container-fluid">
        <div class="col-md-7 col-sm-7 col-xs-7">
            <h2 class="profile">Personal</h2>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5 text-right">
            <button class="btn btn_updte">Update Profile</button>
        </div>


        <div class="col-md-9 col-sm-12 frm">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">First Name</label>
                        <br>
                        <label class="prf_txt">Narola</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Last Name</label>
                        <br>
                        <label class="prf_txt">Gems</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Company Name</label>
                        <br>
                        <label class="prf_txt">Narola</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Designation</label>
                        <br>
                        <label class="prf_txt">Gems</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Primary Email ID</label>
                        <br>
                        <label class="prf_txt">narola@narola.com</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Primary Email ID</label>
                        <br>
                        <label class="prf_txt"></label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Gender</label>
                        <br>
                        <label class="prf_txt">Male</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 txtct">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="prf">
                        <h4 class="prf_head">Photo Identity</h4>
                        <div class="photo_img">
                            <img src="../../../assets/img/login_event.png" alt="img" class="myprf">
                        </div>
                        <p class="pht_file">File Name</p>
                        <button class="btn btn_updphoto">Update Photo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <h2 class="profile">Other Details</h2>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 frm">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Address</label>
                        <br>
                        <label class="prf_txt">Address1 lies goes here</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">City</label>
                        <br>
                        <label class="prf_txt">Surat</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">State</label>
                        <br>
                        <label class="prf_txt">Gujarat</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Country</label>
                        <br>
                        <label class="prf_txt">India</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">ZipCode</label>
                        <br>
                        <label class="prf_txt">394341</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Telephone</label>
                        <br>
                        <label class="prf_txt">+91 9876543211</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Fax No</label>
                        <br>
                        <label class="prf_txt">+91 9876543211</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Business Type</label>
                        <br>
                        <label class="prf_txt">Gems</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">How Do You Know Us</label>
                        <br>
                        <label class="prf_txt">example etc..,</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">QQ ID</label>
                        <br>
                        <label class="prf_txt">+91 9876543211</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">Skype ID</label>
                        <br>
                        <label class="prf_txt">+91 9876543211</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">We Chat ID</label>
                        <br>
                        <label class="prf_txt">We chat example</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="prf_head">WhatsApp ID</label>
                        <br>
                        <label class="prf_txt">+91 9876543211</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 txtct">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="prf">
                        <h4 class="prf_head">Business Identity</h4>
                        <div class="photo_img">
                            <img src="../../../assets/img/login_event.png" alt="img" class="myprf">
                        </div>
                        <p class="pht_file">File Name</p>
                        <button class="btn btn_updphoto">Update Photo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <button class="btn btn_prf">Update Profile</button>
            </div>
        </div>
    </div>
</section>
