<app-common></app-common>
<section id="content-wrapper">
    <div class="container-fluid top_fld">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="col_box">
                        <div class="res_stone">
                            <h4 class="col_head">NEW STONES</h4>
                            <p class="col_txt">{{pageCounts.NEWARRIVAL}}</p>
                            <p class="col_res">Yesterday -19th JAN, 2020</p>
                        </div>
                        <div class="res_stone1">
                            <img class="col_icon" src="../../assets/img/new_stone.png"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="col_box">
                        <div class="res_stone">
                            <h4 class="col_head">My basket</h4>
                            <p class="col_txt">{{pageCounts.CART}}</p>
                            <p class="col_res">
                                <span class="col_clr">230 </span>CRT <span class="col_spc">$ </span>
                                <span class="col_clr">13000</span>
                            </p>
                        </div>
                        <div class="res_stone1">
                            <img class="col_icon" src="../../assets/img/my_basket.png"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="col_box">
                        <div class="res_stone">
                            <h4 class="col_head">DISCOUNT ELIGIBILITY</h4>
                            <p class="col_txt">0.5%</p>
                        </div>
                        <div class="res_stone1">
                            <img class="col_icon" src="../../assets/img/discount.png"/>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="progress col_prg">
                                <div class="progress-bar col_prgbar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                    <span class="sr-only">30% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="col_box">
                        <div class="res_stone">
                            <h4 class="col_head">YOUR ORDERS</h4>
                            <p class="col_txt">{{pageCounts.CONFIRM}}</p>
                            <p class="col_res">130 <span>Stones</span>
                                <span class="col_spc">30</span>
                                <span>Shipped</span>
                            </p>
                        </div>
                        <div class="res_stone1">
                            <img class="col_icon" src="../../assets/img/ur_order.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<button (click)="onSubmit()">click me</button>-->
    <div class="container-fluid dash_two">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="col-lg-4 col-md-4 col-sm-6 mb-10">
                    <img src="../../assets/img/bg.png" class="upcome"/>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-10">
                    <div class="upcome_stone">
                        <h4 class="upcome_head">upcoming stones <span class="up_spn">in 24 hrs.</span></h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr class="tbl_uphd">
                                    <th class="upcm_main">Stone ID</th>
                                    <th class="upcm_main"></th>
                                    <th class="upcm_main">Crt.</th>
                                    <th class="upcm_main">Price/Crt</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR <br/> 72654001</td>
                                    <td><img src="../../assets/img/upcomid_dim.png" class="up_img"/></td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn">1%</td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR <br/> 72654001</td>
                                    <td>
                                        <img src="../../assets/img/upcomid_dim.png" class="up_img"/>
                                    </td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn">1%</td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR <br/> 72654001</td>
                                    <td>
                                        <img src="../../assets/img/upcomid_dim.png" class="up_img"/>
                                    </td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn">1%</td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR <br/> 72654001</td>
                                    <td>
                                        <img src="../../assets/img/upcomid_dim.png" class="up_img"/>
                                    </td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn">1%</td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR <br/> 72654001</td>
                                    <td>
                                        <img src="../../assets/img/upcomid_dim.png" class="up_img"/>
                                    </td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn">1%</td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR <br/> 72654001</td>
                                    <td>
                                        <img src="../../assets/img/upcomid_dim.png" class="up_img"/>
                                    </td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn">1%</td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR <br/> 72654001</td>
                                    <td>
                                        <img src="../../assets/img/upcomid_dim.png" class="up_img"/>
                                    </td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn">1%</td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR <br/> 72654001</td>
                                    <td>
                                        <img src="../../assets/img/upcomid_dim.png" class="up_img"/>
                                    </td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn">1%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-10">
                    <div class="upcome_stone">
                        <h4 class="upcome_head">NDA - Narola Auction</h4>
                        <p class="nda_txt">Ends on 25th Dec, 12:00 IST</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr class="bord_up">
                                    <td class="up_stn nda_up">Stones <br/> <span class="nda_stn">2300</span></td>
                                    <td class="up_stn cert_nda">Certified</td>
                                    <td class="cert_nda"><i class="icon-download nda_down"></i></td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nda_up">Stones <br/> <span class="nda_stn">2300</span></td>
                                    <td class="up_stn cert_nda">Certified</td>
                                    <td class="cert_nda"><i class="icon-download nda_down"></i></td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nda_up">Stones <br/> <span class="nda_stn">2300</span></td>
                                    <td class="up_stn cert_nda">Certified</td>
                                    <td class="cert_nda"><i class="icon-download nda_down"></i></td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nda_up">Stones <br/> <span class="nda_stn">2300</span></td>
                                    <td class="up_stn cert_nda">Certified</td>
                                    <td class="cert_nda"><i class="icon-download nda_down"></i></td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nda_up">Stones <br/> <span class="nda_stn">2300</span></td>
                                    <td class="up_stn cert_nda">Certified</td>
                                    <td class="cert_nda"><i class="icon-download nda_down"></i></td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nda_up">Stones <br/> <span class="nda_stn">2300</span></td>
                                    <td class="up_stn cert_nda">Certified</td>
                                    <td class="cert_nda"><i class="icon-download nda_down"></i></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-10">
                    <div class="upcome_stone2">
                        <h4 class="upcome_head">My Viewed</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr class="tbl_uphd">
                                    <th class="upcm_main">Stone ID</th>
                                    <th class="upcm_main">Rate</th>
                                    <th class="upcm_main chrg_vw">Charge</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR 72654001</td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn vw_doc"><i class="icon-down-arrow ar_view"></i>1%</td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR 72654001</td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn vw_doc"><i class="icon-up_arrow arred_view"></i>0.24%</td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR 72654001</td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn vw_doc"><i class="icon-up_arrow arred_view"></i>0.35%</td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR 72654001</td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn vw_doc">-</td>
                                </tr>
                                <tr class="bord_up">
                                    <td class="up_stn nar_up">NAR 72654001</td>
                                    <td class="up_stn">1200</td>
                                    <td class="up_stn vw_doc"><i class="icon-down-arrow ar_view"></i>0.1%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 mb-10">
                    <div class="upcome_stone2">
                        <h4 class="upcome_head">My Orders <span class="up_spn">Updated 20 mins ago</span></h4>
                        <div class="table-responsive view_tbl">
                            <table class="table">
                                <thead>
                                <tr class="tbl_uphd">
                                    <th class="upcm_main">Date</th>
                                    <th class="upcm_main">Order ID</th>
                                    <th class="upcm_main">Stone Count</th>
                                    <th class="upcm_main">Value</th>
                                    <th class="upcm_main">Status</th>
                                    <th class="upcm_main"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let order of myOrders;" class="bord_up">
                                    <td class="up_stn nar_up">{{order.Con_Date}}</td>
                                    <td class="up_stn">{{order.ConId}}</td>
                                    <td class="up_stn"></td>
                                    <td class="up_stn">{{order.Total}}</td>
                                    <td class="up_stn pay_st"></td>
                                    <td class="up_stn"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 mb-10 plpr-30">
                <div class="upcome_stone1">
                    <h4 class="upcome_head">My SAVED SEARCH</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="tbl_uphd">
                                <th class="upcm_main">Name</th>
                                <th class="upcm_main">Total</th>
                                <th class="upcm_main">Avg $</th>
                                <th class="upcm_main">New</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let savedsearch of savedsearches;" class="bord_up">
                                <td class="up_stn nar_up">{{savedsearch.SearchName}}</td>
                                <td class="up_stn">{{savedsearch.Total_Stone}}</td>
                                <td class="up_stn">2,300</td>
                                <td class="up_stn pay_st"><i class="icon-up_arrow srr_user"></i>200</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

