/*dashboar_content*/

.mb-10 {
  margin-bottom: 10px;
}

.col_box {
  background: #ffffff;
  border: 1px solid rgba(63, 63, 68, 0.005);
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 1px 0px rgba(63, 63, 68, 0.05);
  border-radius: 4px;
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
  height: 115px;
}

.col_box:hover, .col_box:active {
  background: #267491;
}

.col_box:hover .col_head, .col_box:active .col_head {
  color: #fff;
}

.col_box:hover .col_txt, .col_box:active .col_txt {
  color: #fff;
}

.col_box:hover .col_res, .col_box:active .col_res {
  color: #fff;
}

.col_head {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.996px;
  text-transform: uppercase;
  color: #253646;
}

.col_txt {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.06px;
  color: #212529;
}

.col_res {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.0375px;
  color: #267491;
}

.col_icon {
  color: #fff;
  padding: 12px;
  background: #267491;
  border-radius: 100px;
  width: 60px;
}

.col_clr {
  color: #14ac3f;
  font-weight: bold;
  margin-right: 5px;
}

.col_spc {
  margin-left: 20px;
}

.col_prg {
  height: 4px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.col_prgbar {
  height: 5px;
  background-color: #1665d8;
}

.upcome {
  margin-top: -4px;
  width: 100%;
  height: 370px;
}

.dash_two {
  margin-top: 30px;
}

.srr_user {
  font-size: 8px;
  margin-right: 6px;
}

.dash_tog {
  background-color: #267491;
  border: 1px solid #267491;
  border-color: #267491 !important;
  cursor: pointer;
}

.dash_tog:hover, .dash_tog:active {
  background-color: #267491 !important;
  border: 1px solid #267491;
  border-color: #267491;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #267491;
}

.up_spn {
  font-family: Rubik;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #66788a;
  margin-left: 20px;
  text-transform: lowercase;
}

.upcome_stone {
  border: 1px solid #7e7e7e;
  padding: 12px 10px;
  overflow: scroll;
  height: 370px;
  overflow-x: auto;
}

.upcome_stone1 {
  border: 1px solid #7e7e7e;
  padding: 12px 10px;
  overflow: scroll;
  height: 646px;
  overflow-x: auto;
}

.upcome_stone1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.upcome_stone1::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.upcome_stone1::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #267491;
}

.upcome_stone::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.upcome_stone::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.upcome_stone::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #267491;
}

.upcome_stone2 {
  border: 1px solid #7e7e7e;
  padding: 12px 10px;
  overflow: scroll;
  height: 270px;
  overflow-x: auto;
}

.upcome_stone2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.upcome_stone2::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.upcome_stone2::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #267491;
}

.upcome_head {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.996px;
  text-transform: uppercase;
  color: #253646;
  padding: 0px 20px;
}

.up_stn {
  font-family: Rubik;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #334681;
}

.tbl_uphd {
  background: #e9f1f4;
  border: 2px solid rgba(255, 255, 255, 0.15);
}

.upcm_main {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #334681;
}

.nar_up {
  font-weight: bold;
}

.bord_up {
  border-bottom: 1px solid #e8ecef;
}

.up_img {
  width: 35px;
}

.nda_txt {
  font-family: Rubik;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #66788a;
  padding: 0px 20px;
  margin-bottom: 20px;
}

.nda_stn {
  font-family: Rubik;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.06px;
  color: #212529;
}

.nda_up {
  font-weight: bold;
  letter-spacing: 0.996px;
  text-transform: uppercase;
  color: #66788a;
}

.nda_down {
  color: #70879d;
}

.cert_nda {
  padding-top: 20px !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px;
}

.ar_view {
  color: #00ff0a;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 12px;
}

.chrg_vw {
  text-align: center;
}

.vw_doc {
  font-family: Rubik;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #334681;
  text-align: center;
}

.arred_view {
  color: #ff5f58;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 8px;
}

.res_stone, .res_stone1 {
  display: inline-block;
}

.res_stone1 {
  float: right;
}

.pay_st {
  background: #ecf3ff;
  border-bottom: 1px solid #dddddd;
  border-radius: 4px;
  width: 148px;
  color: #3e7ef5;
}

.ic_fn {
  text-align: center;
  font-size: 18px;
}

.ic_fnmail {
  margin-left: 10px;
}

@media screen and (max-width: 1600px) {
  .upcome {
    height: 320px;
  }
  .upcome_stone {
    height: 320px;
  }
  .upcome_stone1 {
    height: 625px;
  }
}

@media screen and (max-width: 1440px) {
  .upcome {
    height: 280px;
  }
  .upcome_stone {
    height: 280px;
  }
  .upcome_stone2 {
    height: 280px;
  }
  .upcome_stone1 {
    height: 585px;
  }
  .upcome_stone2 {
    height: 295px;
  }
}

@media screen and (max-width: 1366px) {
  .upcome {
    height: 260px;
  }
  .upcome_stone {
    height: 260px;
  }
  .upcome_stone2 {
    height: 220px;
  }
  .upcome_stone1 {
    height: 490px;
  }
}

@media screen and (max-width: 1024px) {
  .upcome {
    height: 180px;
  }
  .upcome_stone {
    height: 180px;
  }
  .upcome_stone2 {
    height: 180px;
  }
  .upcome_stone1 {
    height: 360px;
  }
}

@media screen and (max-width: 768px) {
  .grp-search {
    width: 320px;
  }
.upcome{
  height: 260px;
}
.upcome_stone{
  height: 260px;
}
.upcome_stone2{
  height: 260px;
}
}

#content-wrapper {
  top: 100px;
  padding-left: 80px;
  padding-top: 80px;
}

@media screen and (max-width: 414px) {
  .grp-search {
    width: 270px;
  }
  #sidebar-wrapper {
    display: none;
  }
  #wrapper {
    padding-left: 0px;
  }
  #content-wrapper {
    padding-left: 0px;
  }
  .upcome {
    height: 240px;
  }
  .upcome_stone {
    height: 260px;
  }
  .upcome_stone2 {
    height: 240px;
  }
  .upcome_stone1 {
    height: 360px;
  }
  .plpr-30{
    padding-left: 30px;
    padding-right: 30px;
  }
}