<div class="border_row">
    <ul class="nav">
        <li><a data-scroll="index" href="#index" class="bo_menu bo1 active"></a></li>
        <li><a data-scroll="about" href="#about" class="bo_menu bo2"></a></li>
        <li><a data-scroll="craft" href="#craft" class="bo_menu bo3"></a></li>
        <li><a data-scroll="product" href="#product" class="bo_menu bo4"></a></li>
        <li><a data-scroll="csr" href="#csr" class="bo_menu bo5"></a></li>
        <li><a data-scroll="contact" href="#contact" class="bo_menu bo6"></a></li>
    </ul>
</div>
<nav class="navbar navbar-expand-sm fixed-top nav_nv">
    <div class="brand" id="headerlogo">
        <a class="head_lg" style="display: none;" id="head_lg">
            <img src="../../assets/img/narola_small.png" class="logo_sm"/>
        </a>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-bars nav_bar"></i>
            </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto" data-toggle="modal" data-target="#myModal2">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <img src="../../assets/img/login.png"/>
            </a>
        </li>
    </ul>
</nav>
<section id="index">
    <div class="ind_bg">
        <div class="container">
            <div class="main_logo wow zoomIn" data-wow-duration="5s">
                <img src="../../assets/img/narola.png" class="brand_logo" id="divlogo1"/>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="ab_bg">
        <div class="container">
            <div class="about_sec">
                <h3 class="ab_head wow zoomIn" data-wow-duration="5s">About Us</h3>
                <p class="wow fadeInUp" data-wow-duration="5s">
                    <span class="ab_para">
                        Narola a bright company started in 1989 with small unit of manufacturing
                    </span>
                    <span class="ab_para">
                        in Surat (INDIA) having only one passion in mind to produce finest
                    </span>
                    <span class="ab_para">
                        quality of diamonds and supply to the World.
                    </span>
                </p>
                <button class="btn_arr"><i class="fa fa-angle-right know_btn"></i>Know More</button>
            </div>
        </div>
    </div>
</section>
<section id="craft">
    <div class="crf_bg">
        <div class="craft_sec">
            <p class="craft_head wow zoomIn" data-wow-duration="5s">CRAFTMENSHIP</p>
            <p class="crf_para wow fadeInUp" data-wow-duration="5s">
                Narola a bright company started in 1989 with small unit of manufacturing
            </p>
        </div>
    </div>
</section>

<section id="product">
    <div class="row pro_plr">
        <div class="col-md-12 col-sm-12 text-center procen">
            <h3 class="pro_head wow zoomIn" data-wow-duration="5s">OUR PRODUCTS</h3>
            <p class="pro_para wow fadeInUp" data-wow-duration="5s">
                Narola a bright company started in 1989 with small unit of manufacturing
            </p>
        </div>
        <div class="col-md-6 col-sm-12 prbg_plr">
            <div class="pro_bg">
                <div class="certi_img">
                    <img src="../../../assets/img/certified1.png" alt="certified">
                    <p class="prod_mtxt">
                        Lorem ipsum dolor sit amet,con sectetur adi piscing elit,sed do
                        eius mod tempor incidid unt ut labore et dolor emagna aliqua.Quis
                        ipsum suspendisse ultrices gravida. Risus commodo viverra
                        maecenas accumsan lacus vel facilisis.
                    </p>
                    <button class="btn_arr"><i class="fa fa-angle-right know_btn"></i>Know More</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 prbg_plr res_pro">
            <div class="pro_bg1">
                <div class="certi_img cert_res">
                    <img src="../../../assets/img/certified.png" alt="certified">
                    <p class="prod_mtxt1">
                        Lorem ipsum dolor sit amet,con sectetur adi piscing elit,sed do
                        eius mod tempor incidid unt ut labore et dolor emagna aliqua.Quis
                        ipsum suspendisse ultrices gravida. Risus commodo viverra
                        maecenas accumsan lacus vel facilisis.
                    </p>
                    <button class="btn_arr"><i class="fa fa-angle-right know_btn"></i>Know More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="csr">
    <div class="csr_bg">
        <div class="csr_img">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-1"></div>
                    <div class="col-md-10 col-sm-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 csrpr">
                                <div class="csr_fig">
                                    <img src="../../../assets/img/csr1.png">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 csrpr">
                                <div class="csr_fig">
                                    <img src="../../../assets/img/csr2.png">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 csrpr">
                                <div class="csr_fig">
                                    <img src="../../../assets/img/csr3.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1"></div>
                </div>
            </div>
        </div>
        <div class="csr_sec">
            <h3 class="csr_head wow zoomIn" data-wow-duration="5s">CSR ACTIVITY</h3>
            <p class="wow fadeInUp" data-wow-duration="5s">
                <span class="csr_para">
                    Narola a bright company started in 1989 with small unit of manufacturing
                </span>
                <span class="csr_para">
                    in Surat (INDIA) having only one passion in mind to produce finest
                </span>
                <span class="csr_para">
                    quality of diamonds and supply to the World.
                </span>
            </p>
            <button class="btn_arr"><i class="fa fa-angle-right know_btn"></i>Know More</button>
        </div>
    </div>
</section>

<section id="contact">
    <div class="row pro_plr">
        <div class=" col-lg-6 col-md-12 col-sm-12 prbg_plr">
            <div class="cont_bg">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.988822360692!2d72.8620037147951!3d19.06422905729669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8e892cdc783%3A0xaa9d2c3189112e41!2sNarola%20gems!5e0!3m2!1sen!2sin!4v1586414696997!5m2!1sen!2sin"
                        allowfullscreen="" class="contact_map" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 prbg_plr res_pro">
            <div class="cont_bg1">
                <div class="office">
                    <h3 class="off_head wow zoomIn" data-wow-duration="5s">OUR OFFICES</h3>
                    <p class="off_txt">Sales Office</p>
                    <p class="off_add">
                        CC-2201, 2nd Floor, Bharat Diamond Bourse,
                        <br>
                        Bandra Kurla Comlpex,
                        <br>
                        Bandra (East), Mumbai 400-051 (INDIA).
                    </p>
                    <p class="off_add">
                        Ph: +91-22-4066-4444
                        <br>
                        <a href="#" target="_blank" class="off_mail">sales@narolagems.com</a>
                    </p>
                    <p class="off_txt">Head Office</p>
                    <p class="off_add">
                        15/B, Office#4, SopariwalaEstate,
                        <br>
                        Prashard Chambers Compound, OperaHouse
                        <br>
                        (Mumbai).40-051(INDIA).
                    </p>
                    <p class="off_add">
                        Ph: +91-22-4066-4444
                        <br>
                        <a href="#" target="_blank" class="off_mail">info@narolagems.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal right fade" id="myModal2" role="dialog">
    <div class="modal-dialog md_log" role="document">
        <div class="modal-content mdb_con">

            <div class="modal-header mod_head">
                <h4 class="modal-title" id="myModalLabel2">Login</h4>
                <button type="button" class="close cls_mod" data-dismiss="modal">
                    <i class="icon-close ncr_icon"></i>
                </button>
            </div>

            <div class="modal-body">
                <form [formGroup]="myform" (ngSubmit)="onSubmit()">
                    <div style="color: red;margin-left: 23%" *ngIf="invalidCred">Invalid Username or Password</div>
                    <div class="container conr">
                        <div class="user_login">
                            <h6 class="use_head">Username</h6>
                            <div class="input-group us_grp">
                                <input type="text" placeholder="Username" class="inp_us" formControlName="username">
                                <span class="input-group-addon">
                                    <i class="icon-user ncr_icon"></i>
                                </span>
                            </div>
                            <div style="color: red;margin-left: 23%"
                                 *ngIf="submitted && username.errors && username.errors.required">Username is required.
                            </div>
                        </div>
                        <div class="pswd_login">
                            <h6 class="use_head">Password</h6>
                            <div class="input-group us_grp">
                                <input type="password" placeholder="Password" class="inp_us" formControlName="password">
                                <span class="input-group-addon">
                                    <i class="icon-key ncr_icon"></i>
                                </span>
                            </div>
                            <div style="color: red;margin-left: 23%;"
                                 *ngIf="submitted && password.errors && password.errors.required">Password is required.
                            </div>
                        </div>

                        <p class="frg">Forgot password?</p>
                        <div class="log_btn">
                            <button type="submit" class="btn btn_login">Login</button>
                            <h5 class="cret" data-toggle="modal" data-target="#myModal3">Create Account</h5>
                        </div>
                    </div>
                    <div class="event_head">
                        <img src="../../assets/img/login_event.png"/>
                    </div>
                </form>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<div class="modal right fade" id="myModal3" role="dialog">
    <div class="modal-dialog md_log register_mod" role="document">
        <div class="modal-content mdb_con">

            <div class="modal-header mod_head">
                <h4 class="modal-title" id="myModalLabel2">Register</h4>
                <button type="button" class="close cls_mod" data-dismiss="modal">
                    <i class="icon-close ncr_icon"></i>
                </button>
            </div>

            <div class="modal-body" id="reg_scrl">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h4 class="reg_main">Account Details</h4>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="frm_use">Username</label>
                                <input type="text" class="form-control frm_plc" placeholder="Username">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="frm_use">Password</label>
                                <input type="password" class="form-control frm_plc" placeholder="Set Password">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="frm_use">Confirm Password</label>
                                <input type="password" class="form-control frm_plc" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-16">

                        </div>
                        <div class="col-md-12 col-sm-12">
                            <h4 class="reg_main">Personal Details</h4>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="frm_use">Firstname</label>
                                <input type="text" class="form-control frm_plc" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="frm_use">Lastname</label>
                                <input type="text" class="form-control frm_plc" placeholder="Lastname">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="frm_use">Company Name</label>
                                <input type="text" class="form-control frm_plc" placeholder="Your Company Name">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="frm_use">Designation</label>
                                <input type="text" class="form-control frm_plc" placeholder="Your Designation">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="frm_use">Primary Email Id</label>
                                <input type="email" class="form-control frm_plc" placeholder="Your Email">
                                <p class="frm_txt">Main mode of communication</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="frm_use">Secondary Email Id</label>
                                <input type="email" class="form-control frm_plc" placeholder="Your Email">
                                <p class="frm_txt">(You will get email on this ID only when diamonds are confirmed)</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="frm_use">Profile Pic</label>
                            <div class="uploadfilecontainer">
                                <input hidden type="file">
                                <label class="frm_drag">Drag and Drop OR Browse File</label>
                            </div>
                            <p class="frm_txt">[Passport, Driving License, Pan Card, (scan and upload .jpg or .png or
                                .doc or .docx or .pdf files),(Optional)] </p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">Gender</label>
                            <!--<mat-chip-list class="gender_chip">-->
                                <!--<mat-chip [selected]="true" class="gend_male">Male</mat-chip>-->
                                <!--<mat-chip class="gend_fem">Female</mat-chip>-->
                            <!--</mat-chip-list>-->
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">KAM Person</label>
                            <input type="text" class="form-control frm_plc" placeholder="Select KAM Person">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">KAM Code</label>
                            <input type="text" class="form-control frm_plc" placeholder="Enter a Code">
                        </div>
                        <div class="col-md-12 col-sm-12 mt-20">
                            <h4 class="reg_main">Other details</h4>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">Address</label>
                            <textarea rows="2" cols="20" tabindex="11" class="form-control frm_plc mb_regs"></textarea>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">Select Country</label>
                            <input type="text" class="form-control frm_plc mb_regs" placeholder="Select Country">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">Select State</label>
                            <input type="text" class="form-control frm_plc mb_regs" placeholder="Select State">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">Select City</label>
                            <input type="text" class="form-control frm_plc mb_regs" placeholder="Select City">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">Zip/Pin Code</label>
                            <input type="text" class="form-control frm_plc mb_regs" placeholder="Enter your Zip Code">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">Telephone</label>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <input type="text" class="form-control frm_plc mb_regs">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pl-0">
                                    <input type="text" class="form-control frm_plc mb_regs">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">Fax</label>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <input type="text" class="form-control frm_plc mb_regs">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pl-0">
                                    <input type="text" class="form-control frm_plc mb_regs">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">Mobile Number</label>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <input type="text" class="form-control frm_plc mb_regs">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pl-0">
                                    <input type="text" class="form-control frm_plc mb_regs">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">Business Type</label>
                            <input type="text" class="form-control frm_plc mb_regs" placeholder="Enter Business Type">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">How do you know us?</label>
                            <input type="text" class="form-control frm_plc mb_regs" placeholder="Select an option">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">QQ ID</label>
                            <input type="text" class="form-control frm_plc mb_regs" placeholder="Enter ID">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">Skype ID</label>
                            <input type="text" class="form-control frm_plc mb_regs" placeholder="Enter ID">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">WhatsApp ID</label>
                            <input type="text" class="form-control frm_plc mb_regs" placeholder="Enter ID">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="frm_use">We Chat ID</label>
                            <input type="text" class="form-control frm_plc mb_regs" placeholder="Enter ID">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="frm_use">Business ID proof</label>
                            <div class="uploadfilecontainer mb_regs">
                                <input hidden type="file">
                                <label class="frm_drag">Drag and Drop OR Browse File</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="frm_use"></label>
                            <p class="frm_txt mb_regs">[Business Card (scan and upload .jpg or .png or .doc or .docx or
                                .pdf
                                files),(Optional)]</p>
                        </div>
                        <div class="col-md-12 col-sm-12 recpth">
                            <label class="frm_use"></label>
                            <!--<re-captcha (resolved)="resolved($event)"-->
                                        <!--siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"></re-captcha>-->
                        </div>
                        <div class="col-md-12 col-sm-12 chk_term">
                            <label class="frm_use">Terms and Conditions</label><br>
                            <!--<mat-checkbox class="mb_regs">-->
                                <!--<span class="frm_txt">I have read and agree to the terms and conditions</span>-->
                            <!--</mat-checkbox>-->
                        </div>
                    </div>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
</div>
<a id="button">
    <img src="../../assets/img/scroll_btn.png" class="scrl_btn"/>
</a>
