
<div id="wrapper">
    <aside id="sidebar-wrapper">

        <ul class="sidebar-nav">
            <li class="active">
                <a href="#" title="DASHBOARD"><i class="icon-dashboard"></i></a>
            </li>
            <li>
                <a href="#" title="SEARCH"><i class="icon-search"></i></a>
            </li>
            <li>
                <a href="#" title="HOLD"><i class="icon-hold"></i></a>
            </li>
            <li>
                <a href="#" title="NDA"><i class="icon-nda"></i></a>
            </li>
            <li>
                <a href="#" title="MY BASKET"><i class="icon-basket"></i></a>
            </li>
            <li>
                <a href="#" title="MY ORDERS"><i class="icon-order"></i></a>
            </li>
            <li>
                <a href="#" title="MY FAV"><i class="icon-favrouite"></i></a>
            </li>
          <!--<li>-->
            <!--<a href="#" title="MY FAV" (click)="logout()">Logout</a>-->
          <!--</li>-->
        </ul>
    </aside>
    <div id="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle dash_tog" data-toggle="collapse"
                        data-target="#narolanav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand nv_brnd" href="#">
                      <img src="../../assets/img/n_logo.jpg" class="sm_logo" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="narolanav">
                  <ul class="nav navbar-nav">
                    <li>
                      <a class="dash" href="#">SEARCH DIAMOND</a>
                    </li>
                  </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="input-group grp-search">
                            <input type="text" class="form-control frm_ipn" placeholder="Search Diamond">
                            <span class="input-group-addon grp_add"><i class="icon-search ncr_icon"></i></span>
                        </li>
                      <li>
                        <button (click)="logout()" title="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
