/* You can add global styles to this file, and also import other style files */

.sch .mat-form-field-infix {
  background: #fffefe;
  border: 1px solid #e8ecef;
  border-radius: 6px;
  margin-right: 8px;
  padding: 8px;
}

.sch .mat-form-field-underline {
  display: none;
}

.sch .input.mat-input-element {
  padding: 10px;
}

.sch .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.sch .mat-form-field {
  margin-left: -4px;
}

.sch .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.sel_mat .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.date_sch .mat-form-field-infix {
  background: #fffefe;
  border: 1px solid transparent;
  margin-right: 8px;
  padding: 8px;
  width: 160px;
}

.date_sch .mat-form-field-underline {
  display: none;
}

.date_sch .input.mat-input-element {
  padding: 10px;
}

.date_sch .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.date_sch .mat-form-field {
  padding-top:6px;
}

.date_sch .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.date_sch .mat-form-field-flex {
  border: 1px solid #e8ecef;
  border-radius: 6px;
  margin-left: -4px;
}

.meas_sch .mat-form-field-infix {
  background: #fffefe;
  border: 1px solid #e8ecef;
  border-radius: 6px;
  margin-right: 8px;
  padding: 8px;
}

.meas_sch .mat-form-field-underline {
  display: none;
}

.meas_sch .input.mat-input-element {
  padding: 10px;
}

.meas_sch .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.meas_sch .mat-form-field {
  line-height: normal;
}

.meas_sch .mat-form-field-wrapper {
  padding-bottom: 0px;
}

.org_mat .mat-form-field-infix {
  border-top: 0px;
  padding: 0px;
}

.org_mat .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

/* .org_mat .mat-select-arrow {
  margin-top: -15px;
}

.org_mat .mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 10px;
  border: 1px solid #e8ecef;
  height: 35px;
  border-radius: 6px;
  background-color: transparent;
}

.org_mat .mat-focused {
  border-color: transparent;
}

 */


/*table-css- in result grid*/
.res_ttbl tr.mat-row, tr.mat-footer-row{
  height: 30px;
}

.res_ttbl th.mat-header-cell{
  text-align: center;
}

.res_ttbl tr.mat-header-row{
  height: 30px;
  background-color: #c1c1c1;
}

.res_ttbl .tbl_hesdr{
  color: #000;
}



@media screen and (max-width: 1600px) {
  .meas_sch .mat-form-field-infix {
    width: 151px;
  }
  .org_mat .mat-form-field-infix {
    width: 146px;
  }
}

@media screen and (max-width: 1440px) {
  .meas_sch .mat-form-field-infix {
    width: 131px;
  }
  .org_mat .mat-form-field-infix {
    width: 126px;
  }
}

@media screen and (max-width: 1366px) {
  .meas_sch .mat-form-field-infix {
    width: 126px;
  }
  .org_mat .mat-form-field-infix {
    width: 102px;
  }
}

@media screen and (max-width: 1280px){
  .meas_sch .mat-form-field-infix {
    width: 115px;
  }
}

@media screen and (max-width: 1024px) {
  .meas_sch .mat-form-field-infix {
    width: 200px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .date_sch .mat-form-field-infix {
    width: 170px;
  }
  .org_mat .mat-form-field-infix {
    width: 180px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 414px) {
  .sch .mat-form-field-infix {
    width: 115px;
  }
  .meas_sch .mat-form-field-infix {
    width: 140px;
  }
}
