#content-wrapper {
    padding: 15px;
    top: 100px;
    padding-top: 100px;
}

#navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: #f8f8f8;
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
    padding: 10px;
}

.dash {
    font-family: Rubik;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #267491 !important;
}

.nv_brnd {
    padding: 0px;
    margin-right: 10px;
}

.mark_shp {
    margin-right: 10px;
    display: inline-block;
    font-size: 28px;
    width: 12%;
    color: #134361;
}

.txt_shp {
    display: inline-block;
    width: 82%;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.996px;
    text-transform: uppercase;
    color: #253646;
}

.bg_whl {
    background: #E0E4E8;
    border-radius: 4px;
    padding: 20px 20px 15px;
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.icntxt_detail .mat-chip {
    background: #FFFFFF;
    border: 1px solid #E8ECEF;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 16px;
}

.res_icon {
    color: #253646;
    margin-right: 10px;
}

.res_txt {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #267491;
}

.mat-standard-chip:hover::after {
    opacity: 0!important;
}

#sidebar-wrapper {
    display: none;
}

/* Table */

.plpr {
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #E0E4E8;
    border-radius: 4px;
}

.tbcell1 {
    width: 12%;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.996px;
    text-transform: uppercase;
    color: #253646;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tbcell2 {
    width: 38%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #267491;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tbcell3 {
    width: 14%;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.996px;
    text-transform: uppercase;
    color: #253646;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tbcell4 {
    width: 19%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #267491;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.stn_img {
    text-align: center;
    width: 350px;
    height: 350px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto 10px;
    margin-top: 20px;
}

.det_img {
    max-width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.stn_vdeo {
    text-align: center;
    width: 350px;
    height: 350px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto 10px;
    margin-top: 20px;
}

.stn_vdeo1 {
    text-align: center;
    width: 400px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto 10px;
    display: flex;
}

.det_vdeo {
    max-width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    height: 350px;
    width: 340px;
}

.grp-search {
    width: 290px;
    background: #FFFEFE;
    border: 1px solid #E8ECEF;
    border-radius: 10px;
    margin-right: 5px;
}

.frm_ipn {
    border: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #134361;
    box-shadow: none;
}

.frm_ipn:focus {
    box-shadow: none;
}

.grp_add {
    background: #fff;
    border: 0;
}

.icn_rght {
    margin-top: 10px;
}

.viwdown {
    border: 1px solid #e8ecef;
    padding: 8px 10px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 6px;
}

.detl_icon {
    color: #267491;
    font-size: 20px;
}

.pil_hed {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #267491;
    text-align: center;
}

.pil_act {
    padding: 0px 170px;
}

.pil_act .active .pil_hed {
    background-color: #267491;
}

.pil_act .active .pil_hed:hover {
    background-color: #267491;
}

.pil_act .active .pil_hed:active {
    background-color: #267491;
}

.pil_act .active .pil_hed:focus {
    background-color: #267491;
}

div.blueTable {
    background-color: #fff;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    padding: 8px;
}

.blueTable .tableFootStyle .links {
    text-align: right;
}

.blueTable .tableFootStyle .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.blueTable.outerTableFooter {
    border-top: none;
}

.blueTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px;
}

/* DivTable.com */

.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

/* responsive */

@media screen and (max-width:1600px) {
    .pil_act {
        padding: 0px 120px;
    }
}

@media screen and (max-width: 1440px) {
    .pil_act {
        padding: 0px 90px;
    }
}

@media screen and (max-width: 1366px) {
    .pil_act {
        padding: 0px 75px;
    }
    .mst-scrl {
        overflow-x: scroll;
    }
}

@media screen and (max-width:1280px) {
    .pil_act {
        padding: 0px 60px;
    }
}

@media screen and (max-width:1024px) {
    .pil_act {
        padding: 0px 24px;
    }
    .stn_img {
        height: 280px;
    }
}

@media screen and (max-width:768px) {
    .pil_act {
        padding: 0px 220px;
    }
    .icntxt_detail .mat-chip {
        margin-top: 10px;
    }
    .stn_img {
        height: 350px;
    }
}

@media screen and (max-width:414px) {
    .navbar-inverse .navbar-toggle {
        border-color: #267491;
    }
    .navbar-toggle {
        background-color: #267491;
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #267491;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #267491;
    }
    .pil_act {
        padding: 0px 20px;
    }
    .icn_rght {
        margin-top: 10px;
        text-align: right;
        margin-bottom: 20px;
    }
    .sm_logo{
        width: 46px;
    }
    #content-wrapper{
        padding: 0px;
        margin-top: 100px;
    }
    .stn_img {
        height: 300px;
    }
}