#content-wrapper {
    padding: 15px;
    top: 100px;
    padding-top: 100px;
}

#navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: #f8f8f8;
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
    padding: 10px;
}

.dash {
    font-family: Rubik;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #267491 !important;
}

.plpr_head {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.mark_shp {
    font-size: 28px;
    color: #134361;
}

.txt_shp {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.996px;
    text-transform: uppercase;
    color: #253646;
}

.txt_shp1{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.996px;
    text-transform: uppercase;
    color: #253646;
    }

.stn_round {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.996px;
    text-transform: uppercase;
    color: #253646;
}

.nv_brnd {
    padding: 0px;
    margin-right: 10px;
}

.bg_whl {
    background: #E0E4E8;
    border-radius: 4px;
    padding: 20px 20px 15px;
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.icntxt_detail .mat-chip {
    background: #FFFFFF;
    border: 1px solid #E8ECEF;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 16px;
}

.res_icon {
    color: #253646;
    margin-right: 10px;
}

.res_txt {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #267491;
}

.mat-standard-chip:hover::after {
    opacity: 0 !important;
}

#sidebar-wrapper {
    display: none;
}

/* Table */

.plpr {
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #E0E4E8;
    border-radius: 4px;
}

.main_plpr {
    padding-left: 0px;
}

.tb_hed {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.996px;
    text-transform: uppercase;
    color: #253646;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:0px;
    overflow: hidden;
}

.tb_txt {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #267491;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.prpl_detail {
    padding-left: 0px;
    padding-right: 0px;
}

.stn_img {
    text-align: center;
    height: 565px;
    width: 565px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto 10px;
    margin-top: 20px;
}

.det_img {
    max-width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    height: 565px;
    width: 565px;
}

.stn_vdeo {
    text-align: center;
    height: 565px;
    width: 565px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto 10px;
    margin-top: 20px;
}

.stn_vdeo1 {
    text-align: center;
    width: 400px;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto 10px;
    display: flex;
    margin-top: 20px;
}

.det_vdeo {
    max-width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    height: 565px;
    width: 565px;
}

.grp-search {
    width: 290px;
    background: #FFFEFE;
    border: 1px solid #E8ECEF;
    border-radius: 10px;
    margin-right: 5px;
}

.frm_ipn {
    border: 0;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #134361;
    box-shadow: none;
}

.frm_ipn:focus {
    box-shadow: none;
}

.grp_add {
    background: #fff;
    border: 0;
}

.icn_rght {
    margin-top: 10px;
}

.viwdown {
    border: 1px solid #e8ecef;
    padding: 8px 10px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 6px;
}

.detl_icon {
    color: #267491;
    font-size: 20px;
}

.pil_hed {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #267491;
    text-align: center;
}

.pil_act {
    padding: 0px 170px;
}

.pil_act .active .pil_hed {
    background-color: #267491;
}

.pil_act .active .pil_hed:hover {
    background-color: #267491;
}

.pil_act .active .pil_hed:active {
    background-color: #267491;
}

.pil_act .active .pil_hed:focus {
    background-color: #267491;
}

div.blueTable {
    background-color: #fff;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    padding: 8px;
}

.blueTable .tableFootStyle .links {
    text-align: right;
}

.blueTable .tableFootStyle .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.blueTable.outerTableFooter {
    border-top: none;
}

.blueTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px;
}

/* DivTable.com */

.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

/* responsive */

@media screen and (max-width: 1600px) {
    .pil_act {
        padding: 0px 120px;
    }

    .stn_img {
        height: 458px;
        width: 458px;
    }

    .det_img {
        height: 458px;
        width: 458px;
    }

    .stn_vdeo {
        height: 458px;
        width: 458px;
    }

    .det_vdeo {
        height: 458px;
        width: 458px;
    }
}

@media screen and (max-width: 1440px) {
    .pil_act {
        padding: 0px 90px;
    }

    .stn_img {
        height: 405px;
        width: 405px;
    }

    .det_img {
        height: 405px;
        width: 405px;
    }

    .stn_vdeo {
        height: 405px;
        width: 405px;
    }

    .det_vdeo {
        height: 405px;
        width: 405px;
    }
}

@media screen and (max-width: 1366px) {
    .prcut {
        margin-top: 10px;
    }
    .pil_act {
        padding: 0px 75px;
    }

    .tbcell3 {
        font-size: 11px;
    }

    #content-wrapper {
        padding-top: 70px;
    }

    .stn_img {
        height: 375px;
        width: 375px;
    }

    .det_img {
        height: 375px;
        width: 375px;
    }

    .stn_vdeo {
        height: 375px;
        width: 375px;
    }

    .det_vdeo {
        height: 375px;
        width: 375px;
    }
}

@media screen and (max-width: 1280px) {
    .pil_act {
        padding: 0px 60px;
    }

    .stn_img {
        height: 350px;
        width: 350px;
    }

    .det_img {
        height: 350px;
        width: 350px;
    }

    .stn_vdeo {
        height: 350px;
        width: 350px;
    }

    .det_vdeo {
        height: 350px;
        width: 350px;
    }
}

@media screen and (max-width: 1024px) {
    .tb_hed {
        padding-right:15px;
    }
    .pil_act {
        padding: 0px 24px;
    }

    .stn_img {
        height: 265px;
        width: 265px;
    }

    .det_img {
        height: 265px;
        width: 265px;
    }

    .stn_vdeo {
        height: 265px;
        width: 265px;
    }

    .det_vdeo {
        height: 265px;
        width: 265px;
    }
}

@media screen and (max-width: 768px) {
    .pil_act {
        padding: 0px 220px;
    }

    .icntxt_detail .mat-chip {
        margin-top: 10px;
    }

    .stn_img {
        height: 340px;
        width: 340px;
    }

    .det_img {
        height: 340px;
        width: 340px;
    }

    .stn_vdeo {
        height: 340px;
        width: 340px;
    }

    .det_vdeo {
        height: 340px;
        width: 340px;
    }
}

@media screen and (max-width: 414px) {
    .main_plpr{
        padding-left:15px;
    }
    .bg_whl {
        padding: 20px 20px 20px;
        height: 230px;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #267491;
    }

    .navbar-toggle {
        background-color: #267491;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #267491;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #267491;
    }

    .pil_act {
        padding: 0px 20px;
    }

    .icn_rght {
        margin-top: 10px;
        text-align: right;
        margin-bottom: 20px;
    }

    .sm_logo {
        width: 46px;
    }

    #content-wrapper {
        padding: 0px;
        margin-top: 60px;
    }

    .stn_img {
        height: 300px;
        width: 300px;
    }

    .det_img {
        height: 300px;
        width: 300px;
    }

    .stn_vdeo {
        height: 300px;
        width: 300px;
    }

    .det_vdeo {
        height: 300px;
        width: 300px;
    }
}