<app-common></app-common>
<section id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <mat-chip-list class="icntxt_detail">
                <mat-chip>
                    <i class="icon-cart-with-user res_icon"></i><span class="res_txt">My Basket</span>
                </mat-chip>
                <mat-chip>
                    <i class="icon-Confirm-Stone res_icon"></i><span class="res_txt">Confirm Stone</span>
                </mat-chip>
            </mat-chip-list>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 bg_whl">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <i class="icon-round mark_shp"></i>
                <p class="txt_shp">
                    <span>1.25 CRT</span>
                    <br>
                    <span>ROUND</span>
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <i class="icon-dollar mark_shp"></i>
                <p class="txt_shp">
                    <span>491.53</span>
                    <br>
                    <span>48.00</span>
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <i class="icon-certificate mark_shp"></i>
                <p class="txt_shp">
                    <span>Narola Certified</span>
                    <br>
                    <span>6342802241</span>
                </p>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 plpr mt-20">
            <div class="divTable blueTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell tbcell1">Stone ID</div>
                        <div class="divTableCell tbcell2">5756-85</div>
                        <div class="divTableCell tbcell1">Shape</div>
                        <div class="divTableCell tbcell2">Oval</div>
                        <div class="divTableCell tbcell1">Carat</div>
                        <div class="divTableCell tbcell2">1.01 ct.</div>
                        <div class="divTableCell tbcell1">Color</div>
                        <div class="divTableCell tbcell2">L</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell tbcell1">Purity</div>
                        <div class="divTableCell tbcell2">I1</div>
                        <div class="divTableCell tbcell1">Lab</div>
                        <div class="divTableCell tbcell2">GIA</div>
                        <div class="divTableCell tbcell1">Cut</div>
                        <div class="divTableCell tbcell2"></div>
                        <div class="divTableCell tbcell1">Polish</div>
                        <div class="divTableCell tbcell2">EX</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell tbcell1">Symmetry</div>
                        <div class="divTableCell tbcell2">VG</div>
                        <div class="divTableCell tbcell1">Fluorescence</div>
                        <div class="divTableCell tbcell2">FNT</div>
                        <div class="divTableCell tbcell1">Certificate No.</div>
                        <div class="divTableCell tbcell2">2346957796</div>
                        <div class="divTableCell tbcell1">Origin</div>
                        <div class="divTableCell tbcell2">NONE</div>
                    </div>
                </div>
            </div>
            <div class="divTable blueTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell tbcell3">NGS Comments</div>
                        <div class="divTableCell tbcell4">EXCLUSIVE CLARITY</div>
                        <div class="divTableCell tbcell3">Shade</div>
                        <div class="divTableCell tbcell4">NO BROWN , NO GREEN , NO MILKY</div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell tbcell3">Key to Symbols</div>
                        <div class="divTableCell tbcell4">Feather, Crystal, Cloud, Needle</div>
                        <div class="divTableCell tbcell3">Report Comm.</div>
                        <div class="divTableCell tbcell4">Additional clouds are not shown. Pinpoints are not shown.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">

        </div>
            </div>
    </div>
</section>