<div id="wrapper">
    <div id="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle dash_tog" data-toggle="collapse"
                        data-target="#narolanav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand nv_brnd" href="#">
                        <img src="../../assets/img/sm_logo.svg" class="sm_logo" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="narolanav">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="dash" href="#">STONE DETAIL</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<section id="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 dtl_tab">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <ul class="nav nav-pills pil_act justify-content-center">
                        <li class="active"><a data-toggle="pill" href="#Image" class="pil_hed">Image</a></li>
                        <li><a data-toggle="pill" href="#Video" class="pil_hed">Video</a></li>
                        <li><a data-toggle="pill" href="#certi" class="pil_hed">Certificate</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="Image" class="tab-pane fade in active">
                            <div class="stn_img">
                                <img src="https://pcknstg.blob.core.windows.net/hdfile/DimImg/238-36.JPG"
                                    class="det_img">
                            </div>
                        </div>
                        <div id="Video" class="tab-pane fade">
                            <div class="stn_vdeo">
                                <iframe
                                    src="https://pcknstg.blob.core.windows.net/hdfile/DimImg/360Viewer/HD4/Vision360.html?d=238-36&btn=0&sv=0&z=0"
                                    class="det_vdeo"></iframe>
                            </div>
                        </div>
                        <div id="certi" class="tab-pane fade">
                            <div class="stn_vdeo">
                                <iframe src="https://pcknstg.blob.core.windows.net/hdfile/DimCrt/5202959093.Pdf"
                                    class="det_vdeo"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="stn_vdeo1">
                        <div class="input-group grp-search">
                            <input type="text" placeholder="Email Details" class="form-control frm_ipn">
                            <span class="input-group-addon grp_add">
                                <i class="icon-mail_send detl_icon"></i>
                            </span>
                        </div>
                        <div class="icn_rght">
                            <i class="icon-view detl_icon viwdown"></i>
                            <i class="icon-download detl_icon viwdown"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <mat-chip-list class="icntxt_detail">
                        <mat-chip>
                            <i class="icon-cart-with-user res_icon"></i><span class="res_txt">My Basket</span>
                        </mat-chip>
                        <mat-chip>
                            <i class="icon-Confirm-Stone res_icon"></i><span class="res_txt">Confirm Stone</span>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 bg_whl">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <i class="icon-round mark_shp"></i>
                        <p class="txt_shp">
                            <span>1.25 CRT</span>
                            <br>
                            <span>ROUND</span>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <i class="icon-dollar mark_shp"></i>
                        <p class="txt_shp">
                            <span>491.53</span>
                            <br>
                            <span>48.00</span>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <i class="icon-certificate mark_shp"></i>
                        <p class="txt_shp">
                            <span>Narola Certified</span>
                            <br>
                            <span>6342802241</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 plpr mt-20">
                    <div class="mst-scrl">
                        <div class="divTable blueTable">
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Stone ID</div>
                                    <div class="divTableCell tbcell4">5756-85</div>
                                    <div class="divTableCell tbcell3">Shape</div>
                                    <div class="divTableCell tbcell4">Oval</div>
                                    <div class="divTableCell tbcell3">Carat</div>
                                    <div class="divTableCell tbcell4">1.01 ct.</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Color</div>
                                    <div class="divTableCell tbcell4">L</div>
                                    <div class="divTableCell tbcell3">Purity</div>
                                    <div class="divTableCell tbcell4">I1</div>
                                    <div class="divTableCell tbcell3">Lab</div>
                                    <div class="divTableCell tbcell4">GIA</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Cut</div>
                                    <div class="divTableCell tbcell4"></div>
                                    <div class="divTableCell tbcell3">Polish</div>
                                    <div class="divTableCell tbcell4">EX</div>
                                    <div class="divTableCell tbcell3">Symmetry</div>
                                    <div class="divTableCell tbcell4">VG</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Fluorescence</div>
                                    <div class="divTableCell tbcell4">FNT</div>
                                    <div class="divTableCell tbcell3">Certificate No.</div>
                                    <div class="divTableCell tbcell4">2346957796</div>
                                    <div class="divTableCell tbcell3">Origin</div>
                                    <div class="divTableCell tbcell4">NONE</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 plpr mt-20">
                    <div class="mst-scrl">
                        <div class="divTable blueTable">
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Measurement</div>
                                    <div class="divTableCell tbcell4">5.66 - 4.87 X 3.37</div>
                                    <div class="divTableCell tbcell3">Table(%)</div>
                                    <div class="divTableCell tbcell4">54.00</div>
                                    <div class="divTableCell tbcell3">Depth(%)</div>
                                    <div class="divTableCell tbcell4">59.50</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Ratio</div>
                                    <div class="divTableCell tbcell4">0.86</div>
                                    <div class="divTableCell tbcell3">Gridle(%)</div>
                                    <div class="divTableCell tbcell4">4.00 ( STK to THK )</div>
                                    <div class="divTableCell tbcell3">Table Inclusion</div>
                                    <div class="divTableCell tbcell4">WHITE GROUP OF PINPO</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Table Side Inclusion</div>
                                    <div class="divTableCell tbcell4">NONE</div>
                                    <div class="divTableCell tbcell3">Side Inclusion</div>
                                    <div class="divTableCell tbcell4">FEATHER</div>
                                    <div class="divTableCell tbcell3">Table Black</div>
                                    <div class="divTableCell tbcell4">NONE</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Side Black</div>
                                    <div class="divTableCell tbcell4">NONE</div>
                                    <div class="divTableCell tbcell3">Table Side Black</div>
                                    <div class="divTableCell tbcell4">NONE</div>
                                    <div class="divTableCell tbcell3">Table Open</div>
                                    <div class="divTableCell tbcell4">NONE-OPEN</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Side Open</div>
                                    <div class="divTableCell tbcell4">SMALL-OPEN</div>
                                    <div class="divTableCell tbcell3">Cr.Angle</div>
                                    <div class="divTableCell tbcell4">0.00</div>
                                    <div class="divTableCell tbcell3">Cr.Height</div>
                                    <div class="divTableCell tbcell4">0.00</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Pv.Angle</div>
                                    <div class="divTableCell tbcell4">0.00</div>
                                    <div class="divTableCell tbcell3">Pv.Height</div>
                                    <div class="divTableCell tbcell4">0.00</div>
                                    <div class="divTableCell tbcell3">Location</div>
                                    <div class="divTableCell tbcell4">INDIA</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Eye Clean(%)</div>
                                    <div class="divTableCell tbcell4">100%EYECLEAN</div>
                                    <div class="divTableCell tbcell3">H&A</div>
                                    <div class="divTableCell tbcell4">NO H&A</div>
                                    <div class="divTableCell tbcell3">Extra Facet</div>
                                    <div class="divTableCell tbcell4">NONE</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Luster</div>
                                    <div class="divTableCell tbcell4">EXCELLENT</div>
                                    <div class="divTableCell tbcell3">Culet</div>
                                    <div class="divTableCell tbcell4">NON</div>
                                    <div class="divTableCell tbcell3">Natural</div>
                                    <div class="divTableCell tbcell4"></div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Fancy Color</div>
                                    <div class="divTableCell tbcell4"></div>
                                    <div class="divTableCell tbcell3">NG Grader Comm.</div>
                                    <div class="divTableCell tbcell4"></div>
                                    <div class="divTableCell tbcell3">Star Length</div>
                                    <div class="divTableCell tbcell4"></div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell3">Lower Half</div>
                                    <div class="divTableCell tbcell4"></div>
                                    <div class="divTableCell tbcell3">Type 2A</div>
                                    <div class="divTableCell tbcell4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 plpr mt-20">
                    <div class="mst-scrl">
                        <div class="divTable blueTable">
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell1">NGS Comments</div>
                                    <div class="divTableCell tbcell2">EXCLUSIVE CLARITY</div>
                                    <div class="divTableCell tbcell1">Shade</div>
                                    <div class="divTableCell tbcell2">NO BROWN , NO GREEN , NO MILKY</div>
                                </div>
                                <div class="divTableRow">
                                    <div class="divTableCell tbcell1">Key to Symbols</div>
                                    <div class="divTableCell tbcell2">Feather, Crystal, Cloud, Needle</div>
                                    <div class="divTableCell tbcell1">Report Comm.</div>
                                    <div class="divTableCell tbcell2">Additional clouds are not shown. Pinpoints are not
                                        shown.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>